@{
    /**/

    ViewBag.Title = "Sobre Nosotros";
    ViewBag.Message = "Somos una organización que se dedica a arreglar probleams que nadie más puede arreglar." +
                      " Primero planificamos un operativo. Inmediatemente después lo presupuestamos. Y de " +
                      "ese presupuesto usted pagaría exactamente el doble, por la logística y la mano de obra.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="float: left">
    <br />
    <img src="@Url.Content("~/Images/medina.jpg")" width="280px" height="380px" alt="imgf" />
    <h4>Gabriel Medina</h4>
    <p>Investigación</p>
</div>
<div style="float: left">
    <br />
    <img src="@Url.Content("~/Images/ravenna.jpg")" width="280px" height="380px" alt="imgf" />
    <h4>Emilio Ravenna</h4>
    <p>Caracterización</p>
</div>
<div style="float: left">
    <br />
    <img src="@Url.Content("~/Images/santos.jpg")" width="280px" height="380px" alt="imgf" />
    <h4>Mario Santos</h4>
    <p>Logística & Planificación</p>
</div>
<div style="float: left">
    <br />
    <img src="@Url.Content("~/Images/lampone.jpg")" width="280px" height="380px" alt="imgf" />
    <h4>Pablo Lampone</h4>
    <p>Técnica y Movilidad</p>
</div>
<div style="float: left">
    <br />
    <img src="@Url.Content("~/Images/betun.jpg")" width="280px" height="380px" alt="imgf" />
    <h4>Betún</h4>
    <p>Perro</p>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />