@model List<Trabajo.EF.MVC.Models.ProductsView>
@{
    ViewBag.Title = "Modificar Producto";
}

<style>
    a {
        color: #9d9d9d;
    }

        a:hover {
            color: #fff;
        }

    button {
        background-color: #3a3f41;
    }
</style>

<br />
<br />
@using (Html.BeginForm("Modify", "Products", FormMethod.Post))
{
    <div class="form-group">
        <label>ID del producto: </label>
        <input type="text" class="form-control" name="ProductID" id="ProductID" aria-describedby="idHelp" placeholder="Ingrese el id del producto" value="@ViewBag.Id">
    </div>
    <div class="form-group">
        <label>Nombre del producto: </label>
        <input type="text" class="form-control" name="ProductName" id="ProductName" aria-describedby="idHelp" placeholder="Ingrese el nombre del producto" value="@ViewBag.Name">
    </div>
    <div class="form-group">
        <label>Precio por unidad</label>
        <input type="text" class="form-control" name="UnitPrice" id="UnitPrice" placeholder="Ingrese el precio por unidad" value="@ViewBag.Price">
    </div>
    <div class="form-group">
        <label>Unidades en stock</label>
        <input type="text" class="form-control" name="UnitsInStock" id="UnitsInStock" placeholder="Ingrese la cantidad de producto en stock" value="@ViewBag.Stock">
    </div>
    <button type="submit" class="btn btn-primary"for style="background-color: #3a3f41;">Cargar</button>
        }

<br />
<button type="submit" class="btn btn-group-justified">@Html.ActionLink("Volver a Productos", "Index")</button>